<% if auth %>
    <div class="alert <%= auth[:class] %>">
        <button type="button" class="close" data-dismiss="alert">&times</button>
        <h4><%= auth[:title] %></h4>
        <p><%= @auth[:message] %></p>
    </div>
<% end %>
